*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    flex-direction: column;
}

h1{
    font-size: 1rem;
    margin-top: 3.5rem;
}

.countdown-container{
    display: flex;
    justify-content: center;
}

.text{
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem 2rem;
}

.countdown-el{
    text-align: center;
}

span{
    font-size: 1.1rem;
}
